*,
*::before,
*::after {
    box-sizing: border-box;
}

*{
    margin:0;
}

body {
    background-color: #fff;
}
.wrapper {
    max-width: 1024px;
    margin-inline: auto;
}
header {
    background-color: rgb(14, 157, 76);
    color: #fff;
    padding: 2rem;
}
main {
    border: 1px solid #f3e9e9;
    margin-top: 1rem;
}
.container {
    padding: 1rem;
}
h2 {
    padding: 1rem 0 .5rem;

}
input {
    padding: .5rem;
    border-radius: 4px;
}
/* .field {
    border-color: #f3e9e9;
} */
.submit {
    background-color: #1e1c1cca;
    color: #fff;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    border: 1px solid #f3e9e9;
    padding: 1rem;
}